* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.common-header {
    background-color: blue;
    height: 100px;
    color: white;
    line-height: 100px;
    font-size: 40px;
    text-indent: 20px;
    display: block;
}

.layout {
    width: 980px;
    margin-top: 40px;
    position: relative;
    height: 40px;
}

.sidebar {
    border-right: 3px solid blue;
}

.content {
    width: 800px;
    left: 400px;
}

.sidebar, .content {
    position: absolute;
}
ul {
    list-style-type: none;
    padding-bottom: 20px;
}

h2 {
    background-color: blue;
    color: white;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}